ol{margin:0;
padding:0}

table td,table th{padding:0}

.c43{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:0.6pt;
border-top-color:#000000;
border-bottom-style:solid}

.c7{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:0.6pt;
border-top-color:#000000;
border-bottom-style:solid}

.c2{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:77.5pt;
border-top-color:#000000;
border-bottom-style:solid}

.c53{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:125.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c8{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:118.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c14{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:89.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c17{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:112.7pt;
border-top-color:#000000;
border-bottom-style:solid}

.c18{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:128.1pt;
border-top-color:#000000;
border-bottom-style:solid}

.c57{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.3pt;
border-top-color:#000000;
border-bottom-style:solid}

.c48{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:77.5pt;
border-top-color:#000000;
border-bottom-style:solid}

.c21{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.9pt;
border-top-color:#000000;
border-bottom-style:solid}

.c42{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:120.5pt;
border-top-color:#000000;
border-bottom-style:solid}

.c36{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:78.1pt;
border-top-color:#000000;
border-bottom-style:solid}

.c33{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:531pt;
border-top-color:#000000;
border-bottom-style:solid}

.c60{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:89.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c28{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:125.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c24{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:115pt;
border-top-color:#000000;
border-bottom-style:solid}

.c12{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:120.6pt;
border-top-color:#000000;
border-bottom-style:solid}

.c3{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:92.1pt;
border-top-color:#000000;
border-bottom-style:solid}

.c51{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.9pt;
border-top-color:#000000;
border-bottom-style:solid}

.c10{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.3pt;
border-top-color:#000000;
border-bottom-style:solid}

.c9{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:89.8pt;
border-top-color:#000000;
border-bottom-style:solid}

.c20{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:531pt;
border-top-color:#000000;
border-bottom-style:solid}

.c15{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:127.6pt;
border-top-color:#000000;
border-bottom-style:solid}

.c64{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.4pt;
border-top-color:#000000;
border-bottom-style:solid}

.c25{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:top;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:2.4pt;
border-top-color:#000000;
border-bottom-style:solid}

.c47{border-right-style:solid;
border-bottom-color:#000000;
border-top-width:1pt;
border-right-width:1pt;
border-left-color:#000000;
vertical-align:middle;
border-right-color:#000000;
border-left-width:1pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:1pt;
width:118.2pt;
border-top-color:#000000;
border-bottom-style:solid}

.c39{margin-left:4.6pt;
padding-top:4.8pt;
text-indent:0.3pt;
padding-bottom:0pt;
line-height:1.1583333333333334;
orphans:2;
widows:2;
text-align:left;
margin-right:9.5pt}

.c50{-webkit-text-decoration-skip:none;
color:#000000;
text-decoration:underline;
vertical-align:baseline;
text-decoration-skip-ink:none;
font-size:25pt;
font-family:"Arial";
font-style:normal}

.c38{margin-left:4.8pt;
padding-top:4.5pt;
padding-bottom:0pt;
line-height:1.25;
orphans:2;
widows:2;
text-align:left}

.c70{margin-left:4.5pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8666666666666667;
orphans:2;
widows:2;
text-align:left}

.c68{margin-left:203.3pt;
padding-top:7.9pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c65{margin-left:227.3pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c19{margin-left:5.2pt;
padding-top:4.7pt;
padding-bottom:0pt;
line-height:1.3041666666666667;
orphans:2;
widows:2;
text-align:left}

.c66{margin-left:224.4pt;
padding-top:8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c0{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:10.5pt;
font-family:"Arial";
font-style:normal}

.c29{margin-left:5.6pt;
padding-top:4.7pt;
padding-bottom:0pt;
line-height:1.25;
orphans:2;
widows:2;
text-align:left}

.c32{margin-left:5pt;
padding-top:8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c34{margin-left:5.3pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c58{margin-left:4.8pt;
padding-top:8.1pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c13{margin-left:5pt;
padding-top:4.6pt;
padding-bottom:0pt;
line-height:1.25;
orphans:2;
widows:2;
text-align:left}

.c55{margin-left:4.8pt;
padding-top:8pt;
padding-bottom:0pt;
line-height:0.8458333333333333;
orphans:2;
widows:2;
text-align:left}

.c52{margin-left:4.6pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c69{margin-left:5pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c6{padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:left;
height:10.5pt}

.c31{margin-left:5.6pt;
padding-top:4.5pt;
padding-bottom:0pt;
line-height:1.25;
orphans:2;
widows:2;
text-align:left}

.c56{margin-left:4.8pt;
padding-top:7.8pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c1{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:14pt;
font-family:"Arial";
font-style:normal}

.c35{margin-left:4.5pt;
padding-top:8.1pt;
padding-bottom:0pt;
line-height:0.8583333333333334;
orphans:2;
widows:2;
text-align:left}

.c59{margin-left:4.8pt;
padding-top:8.2pt;
padding-bottom:0pt;
line-height:0.8458333333333333;
orphans:2;
widows:2;
text-align:left}

.c26{margin-left:4.9pt;
padding-top:4.5pt;
padding-bottom:0pt;
line-height:1.25;
orphans:2;
widows:2;
text-align:left}

.c49{margin-left:5.1pt;
padding-top:8.2pt;
padding-bottom:0pt;
line-height:0.8458333333333333;
orphans:2;
widows:2;
text-align:left}

.c67{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-size:12pt;
font-family:"Arial";
font-style:normal}

.c44{padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:center}

.c62{padding-top:0pt;
padding-bottom:0pt;
line-height:0.3875;
orphans:2;
widows:2;
text-align:left}

.c27{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-size:10.5pt;
font-family:"Arial";
font-style:normal}

.c23{padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:left}

.c45{padding-top:0pt;
padding-bottom:0pt;
line-height:0.6333333333333333;
orphans:2;
widows:2;
text-align:left}

.c5{padding-top:0pt;
padding-bottom:0pt;
line-height:1.15;
text-align:left;
height:10.5pt}

.c63{margin-left:0.3pt;
border-spacing:0;
border-collapse:collapse;
margin-right:auto}

.c61{background-color:#ffffff;
max-width:468pt;
padding:72pt 72pt 72pt 72pt}

.c54{height:19.6pt}

.c46{height:9pt}

.c40{height:10.5pt}

.c30{height:24.4pt}

.c4{font-weight:700}

.c11{height:23.2pt}

.c37{height:26.7pt}

.c16{height:24.9pt}

.c41{height:27.1pt}

.c22{height:24.5pt}

.title{padding-top:24pt;
color:#000000;
font-weight:700;
font-size:36pt;
padding-bottom:6pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

.subtitle{padding-top:18pt;
color:#666666;
font-size:24pt;
padding-bottom:4pt;
font-family:"Georgia";
line-height:1.0;
page-break-after:avoid;
font-style:italic;
orphans:2;
widows:2;
text-align:left}

li{color:#000000;
font-size:10.5pt;
font-family:"Arial"}

p{margin:0;
color:#000000;
font-size:10.5pt;
font-family:"Arial"}

h1{padding-top:24pt;
color:#000000;
font-weight:700;
font-size:24pt;
padding-bottom:6pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h2{padding-top:18pt;
color:#000000;
font-weight:700;
font-size:18pt;
padding-bottom:4pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h3{padding-top:14pt;
color:#000000;
font-weight:700;
font-size:14pt;
padding-bottom:4pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h4{padding-top:12pt;
color:#000000;
font-weight:700;
font-size:12pt;
padding-bottom:2pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h5{padding-top:11pt;
color:#000000;
font-weight:700;
font-size:11pt;
padding-bottom:2pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

h6{padding-top:10pt;
color:#000000;
font-weight:700;
font-size:10pt;
padding-bottom:2pt;
font-family:"Arial";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left}

