<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/docscss/ahcounter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/evaluator.css') }}">
</head>

<body class="c41 doc-content">
    <div>
        <p class="c13"><span class="c40"></span></p>
        <p class="c13"><span class="c40"></span></p>
        <p class="c39"><span class="c10">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; </span><span class="c42">Ah Counter&rsquo;s Sheet</span></p>
    </div>
    <p class="c26"><span class="c47"></span></p><a id="t.de5876c5924cb1ea81d1f708c6d7e75e1495a195"></a><a id="t.0"></a>
    <table class="c22">
        <tr class="c25">
            <td class="c27" colspan="1" rowspan="1">
                <p class="c4"><span class="c20">Name</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c26"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c25">
            <td class="c27" colspan="1" rowspan="1">
                <p class="c4"><span class="c20">Class/Section</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c26"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c25">
            <td class="c27" colspan="1" rowspan="1">
                <p class="c4"><span class="c20">Meeting No.</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c26"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c35">
            <td class="c27" colspan="1" rowspan="1">
                <p class="c4"><span class="c20">Date</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c26"><span class="c0"></span></p>
            </td>
        </tr>
    </table>
    <p class="c3"><span class="c52">Role of the Ah Counter: </span></p>
    <p class="c30"><span class="c21">The purpose of the &ldquo;ah&rdquo; counter is to make a note of the words and
            sounds used as a &ldquo;crutch&rdquo; or &ldquo;pause filler&rdquo; by anyone who speaks during the meeting.
            Words may be inappropriate interjections such as </span><span class="c21 c28">&ldquo;and&rdquo;,
            &ldquo;well&rdquo;, &ldquo;but&rdquo; &ldquo;so&rdquo;, &ldquo;you know</span><span class="c21">&rdquo;.
            Sounds may be </span><span class="c21 c28">&ldquo;ah,&rdquo; &ldquo;um,&rdquo; &ldquo;er&rdquo; </span><span
            class="c17">and so on.</span></p>
    <p class="c54"><span class="c21">&nbsp;It is also necessary to take a note whenever a speaker repeats a word or a
            phrase incessantly, such as </span><span class="c21 c28">&ldquo;I, I&rdquo; </span><span class="c21">or
        </span><span class="c21 c28">&ldquo;This means, This means&rdquo;,</span><span class="c17">&nbsp;etc.</span></p>
    <p class="c54"><span class="c17">Your feedback to the speakers about their mistakes helps them recognize when they
            are doing them, why they are doing them and helps them improve upon those areas and their speaking delivery.
            You will probably find that it takes very focused, &ldquo;active&rdquo; listening to catch these speaking
            flaws!</span></p>
    <p class="c23"><span class="c17"></span></p><a id="t.a8e7144700357ccbe2b1051a1e15b985394a3c54"></a><a id="t.1"></a>
    <table class="c57">
        <tr class="c58">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c31"><span class="c7">Sequence</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c55"><span class="c7">Name</span></p>
            </td>
            <td class="c44" colspan="1" rowspan="1">
                <p class="c59"><span class="c7">#</span><span class="c37">&nbsp;</span><span class="c7">of</span><span
                        class="c37">&nbsp;</span><span class="c7">Ahs</span></p>
                <p class="c43"><span class="c7">Used</span></p>
            </td>
            <td class="c38" colspan="1" rowspan="1">
                <p class="c33"><span class="c7">Most</span><span class="c37">&nbsp;</span><span
                        class="c7">Frequent</span><span class="c37">&nbsp;</span><span class="c7">Ahs</span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c53"><span class="c17">Prepared</span></p>
                <p class="c18"><span class="c17">Speaker 1</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c51">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c48"><span class="c17">Prepared</span></p>
                <p class="c18"><span class="c17">Speaker 2</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c8">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c48"><span class="c17">Prepared</span></p>
                <p class="c18"><span class="c17">Speaker 3</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c45">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c36"><span class="c17">Evaluator 1</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c8">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c36"><span class="c17">Evaluator 2</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c46"><span class="c17">Evaluator 3</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c46"><span class="c17">Table Topic Toastmaster</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c12">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c16"><span class="c17">Table Topic Speaker 1</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c56">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c16"><span class="c17">Table Topic Speaker 2</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c8">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c16"><span class="c17">Table Topic Speaker 3</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c8">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c16"><span class="c17">Table Topics Speaker 4</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c8">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c16"><span class="c17">Table Topics Speaker 5</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c49">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c11"><span class="c17">Toastmaster(TM)</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c13"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c13"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c19">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c11"><span class="c17">General Evaluator</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c5"><span class="c0"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c13"><span class="c0"></span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c13"><span class="c0"></span></p>
            </td>
        </tr>
    </table>
    <p class="c24"><span class="c50"></span></p>
    <p class="c34"><span class="c32"></span></p>
</body>

</html>