<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/docscss/geneval.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/evaluator.css') }}">
<body class="c0 doc-content">
<p class="c37">
<span class="c11 c38">
GENERAL EVALUATOR SHEET</span>
</p>
<p class="c1">
<span class="c11 c38">
</span>
</p>
<p class="c25 c26">
<span class="c11 c19">
</span>
</p>
<a id="t.11ec8b2479ec392720fcb12e68f9b4831ccf9fbf">
</a>
<a id="t.0">
</a>
<table class="c48">
<tr class="c31">
<td class="c8" colspan="1" rowspan="1">
<p class="c29">
<span class="c11 c4">
NAME</span>
</p>
</td>
<td class="c3" colspan="1" rowspan="1">
<p class="c23">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c10">
<td class="c8" colspan="1" rowspan="1">
<p class="c46">
<span class="c11 c13">
GRADE &amp; SECTION</span>
</p>
</td>
<td class="c3" colspan="1" rowspan="1">
<p class="c23">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c10">
<td class="c8" colspan="1" rowspan="1">
<p class="c36">
<span class="c11 c13">
MEETING NUMBER</span>
</p>
</td>
<td class="c3" colspan="1" rowspan="1">
<p class="c23">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c49">
<td class="c8" colspan="1" rowspan="1">
<p class="c32">
<span class="c11 c13">
DATE</span>
</p>
</td>
<td class="c3" colspan="1" rowspan="1">
<p class="c23">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
</table>
<p class="c21 c25">
<span class="c11 c19">
</span>
</p>
<p class="c21 c25">
<span class="c11 c19">
</span>
</p>
<p class="c21 c25">
<span class="c11 c19">
</span>
</p>
<p class="c21">
<span class="c9">
Please answer the following:</span>
</p>
<p class="c25 c27">
<span class="c11 c19">
</span>
</p>
<a id="t.2e3a6286d7b99c723fb082cd9e70ac962aa728ef">
</a>
<a id="t.1">
</a>
<table class="c41">
<tr class="c47">
<td class="c5" colspan="1" rowspan="1">
<p class="c30">
<span class="c11 c13">
1.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c35">
<span class="c4 c11">
How was the attendance? How &nbsp; many members were late?</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
    <textarea></textarea>
</span>
</p>
</td>
</tr>
<tr class="c6">
<td class="c5" colspan="1" rowspan="1">
<p class="c15">
<span class="c11 c13">
2.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c24">
<span class="c4">
What were the timings of the &nbsp; &nbsp; meeting? </span>
<span class="c4 c7">
(that</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
includes</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
when</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
it</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
started)</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c14">
<td class="c5" colspan="1" rowspan="1">
<p class="c34 c42">
<span class="c11 c13">
3.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c22">
<span class="c4 c7">
Flow</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
of</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
the</span>
<span class="c4">
&nbsp;</span>
<span class="c4 c7">
meeting</span>
<span class="c11 c4">
: How was the ROP followed and how many</span>
</p>
<p class="c33">
<span class="c11 c4">
times did the PO have to intrude?</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c39">
<td class="c5" colspan="1" rowspan="1">
<p class="c43">
<span class="c11 c13">
4.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c28">
<span class="c11 c4">
Were all the club traditions</span>
</p>
<p class="c45">
<span class="c11 c4">
followed?</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c50">
<td class="c5" colspan="1" rowspan="1">
<p class="c42 c44">
<span class="c11 c13">
&nbsp;5.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c40">
<span class="c11 c4">
Were all the members prepared for their roles?</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
<tr class="c20">
<td class="c5" colspan="1" rowspan="1">
<p class="c34">
<span class="c11 c13">
6.</span>
</p>
</td>
<td class="c12" colspan="1" rowspan="1">
<p class="c17">
<span class="c11 c4">
Did the role takers satisfy their roles?</span>
</p>
</td>
<td class="c16" colspan="1" rowspan="1">
<p class="c2">
<span class="c11 c18">
</span>
</p>
</td>
</tr>
</table>
<p class="c23">
<span class="c11 c19">
</span>
</p>
</body>
</html>
