<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Sheet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/docscss/timer1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/doc.css') }}">
</head>

<body>
    <h1><u><b>Timer Sheet</b></u></h1>

    <table>
        <thead>
            <th>SECTION</th>
            <th>NAME</th>
            <th>ALLOTED TIME</th>
            <th>TIME TAKEN (SECONDS)</th>
            <th>QUALIFIED?</th>
        </thead>
        <thead>
            <th colspan="5">ROLETAKERS</th>
        </thead>
        <tr>
            <td>
                TMOD
            </td>
            <td>
                <select name="n1" id="n1" required>
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                5-8 mins (Total)
            </td>
            <td>
                <input type="number" name="t1" id="t1" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q1" id="q1">
            </td>
        </tr>

        <tr>
            <td>
                GE
            </td>
            <td>
                <select name="n2" id="n2" required>
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                4-6 mins (For Themselves)
            </td>
            <td>
                <input type="number" name="t2" id="t2" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q2" id="q2">
            </td>
        </tr>
        <tr>
            <td>
                TTM
            </td>
            <td>
                <select name="n3" id="n3">
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                10-12 mins (For 5 Topics)
            </td>
            <td>
                <input type="number" name="t3" id="t3" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q3" id="q3">
            </td>
        </tr>
        <tr>
            <td>
                TIMER
            </td>
            <td>
                <select name="n4" id="n4" required>
                    <option value="118105">Sathvik</option>
                </select>
            </td>
            <td>
                2-3 mins
            </td>
            <td>
                <input type="number" name="t4" id="t4" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q4" id="q4">
            </td>
        </tr>
        <tr>
            <td>
                AH-COUNTER
            </td>
            <td>
                <select name="n5" id="n5">
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                1-2 mins
            </td>
            <td>
                <input type="number" name="t5" id="t5">
            </td>
            <td>
                <input type="checkbox" name="q5" id="q5">
            </td>
        </tr>
        <tr>
            <td>
                WMG
            </td>
            <td>
                <select name="n6" id="n6" required>
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                2-3 mins
            </td>
            <td>
                <input type="number" name="t6" id="t6" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q6" id="q6">
            </td>
        </tr>
        <tr>
            <td>
                LISTENER
            </td>
            <td>
                <select name="n7" id="n7" required>
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                3-5 mins
            </td>
            <td>
                <input type="number" name="t7" id="t7" min="1" required>
            </td>
            <td>
                <input type="checkbox" name="q7" id="q7">
            </td>
        </tr>
        <tr><td colspan="5"> </td></tr>
    </table>
</body>

</html>