<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/docscss/timer.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/doc.css') }}">
<body class="c61 doc-content">
    <div>
        <p class="c23"><span class="c0">&nbsp;</span></p>
        <p class="c6"><span class="c0"></span></p>
        <p class="c44" id="h.gjdgxs"><span>&nbsp;</span><span class="c4 c50">TIMER SHEET</span></p>
        <p class="c6"><span class="c0"></span></p>
    </div>
    <p class="c40 c45"><span class="c0"></span></p><a id="t.d7c35b17ebf74a96954461553dec97ae770707da"></a><a
        id="t.0"></a>
    <table class="c63">
        <tr class="c16">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c58"><span class="c4">SECTION</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c49"><span class="c4">NAME</span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c35"><span class="c4">ALLOTTED</span><span>&nbsp;</span><span class="c4">TIME</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c59"><span class="c4">TIME</span><span>&nbsp;</span><span class="c4">TAKEN</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c19"><span class="c4">QUALIFIED?</span></p>
            </td>
        </tr>
        <tr class="c30">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c65"><span class="c4">ROLETAKERS</span></p>
            </td>
        </tr>
        <tr class="c30">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c56"><span class="c0">TMOD</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">5-8 mins (Total)</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c69"><span class="c0">GE</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">4-6 min (For Himself)</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c55"><span class="c0">TTM</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c38"><span class="c0">10-12 mins (for 5 topics)</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c55"><span class="c0">TIMER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c31"><span class="c0">2-3 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c70"><span class="c0">AH-COUNTER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c31"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c52"><span class="c0">WMG</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c38"><span class="c0">2-3 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c37">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c34"><span class="c0">LISTENER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">3-5 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c40">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c68"><span class="c4">PREPARED</span><span>&nbsp;</span><span class="c4">SPEECHES</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 1 (CC# )</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="3">
                <p class="c39"><span class="c0">CC#1 = 4-5 Mins &nbsp; &nbsp; &nbsp; &nbsp;CC#2 = 5-7 mins &nbsp; &nbsp;
                        &nbsp; &nbsp;CC#3 = 7-8 mins </span></p>
                <p class="c39"><span class="c0">CC#4 = 8-10 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 2 (CC# ) </span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 3 (CC# )</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c46">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c66"><span class="c4">TABLE</span><span>&nbsp;</span><span class="c4">TOPICS</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 1</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 2</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 3</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 4</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 5</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c54">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
                <p class="c23"><span class="c0">&nbsp; &nbsp; &nbsp; </span></p>
            </td>
        </tr>
        <tr class="c41">
            <td class="c33" colspan="9" rowspan="1">
                <p class="c44"><span class="c27 c4">EVALUATORS</span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 1</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 2</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 3</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
    </table>
    <p class="c6"><span class="c0"></span></p>
    <p class="c6"><span class="c0"></span></p>
    <p class="c23"><span class="c4 c67">Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; Class/Section: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date/Meeting No:</span></p>
    <p class="c40 c62"><span class="c0"></span></p>
    <p class="c6"><span class="c0"></span></p>
    <div>
        <p class="c6"><span class="c0"></span></p>
    </div>
</body>

</html>