<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/docscss/timer.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/doc.css') }}">
<body class="c61 doc-content">
    <div>
        <p class="c23"><span class="c0">&nbsp;</span></p>
        <p class="c6"><span class="c0"></span></p>
        <p class="c44" id="h.gjdgxs"><span>&nbsp;</span><span class="c4 c50">TIMER SHEET</span></p>
        <p class="c6"><span class="c0"></span></p>
    </div>
    <p class="c40 c45"><span class="c0"></span></p><a id="t.d7c35b17ebf74a96954461553dec97ae770707da"></a><a
        id="t.0"></a>
    <form>
    <table class="c63">
        <tr class="c16">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c58"><span class="c4">SECTION</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c49"><span class="c4">NAME</span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c35"><span class="c4">ALLOTTED</span><span>&nbsp;</span><span class="c4">TIME</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c59"><span class="c4">TIME</span><span>&nbsp;</span><span class="c4">TAKEN <br>(IN SECONDS)</span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c19"><span class="c4">QUALIFIED?</span></p>
            </td>
        </tr>
        <tr class="c30">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c65"><span class="c4">ROLETAKERS</span></p>
            </td>
        </tr>
        <tr class="c30">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c56"><span class="c0">TMOD</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n1" id="n1" required></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">5-8 mins (Total)</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t1" id="t1" min="0" required></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q1" id="q1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c69"><span class="c0">GE</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n2" id="n2" required></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">4-6 min</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t2" id="t2" min="0" required></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q2" id="q2"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c55"><span class="c0">TTM</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n3" id="n3"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c38"><span class="c0">10-12 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t3" id="t3"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q3" id="q3"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c55"><span class="c0">TIMER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n4" id="n4"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c31"><span class="c0">2-3 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t4" id="t4"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q4" id="q4"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c70"><span class="c0">AH-COUNTER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n5" id="n5"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c31"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t5" id="t5"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q5" id="q5"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c52"><span class="c0">WMG</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n6" id="n6"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c38"><span class="c0">2-3 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t6" id="t6"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q6" id="q6"></span></p>
            </td>
        </tr>
        <tr class="c37">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c34"><span class="c0">LISTENER</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n7" id="n7"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c26"><span class="c0">3-5 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t7" id="t7"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q7" id="q7"></span></p>
            </td>
        </tr>
        <tr class="c40">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c68"><span class="c4">PREPARED</span><span>&nbsp;</span><span class="c4">SPEECHES</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 1 (CC#)<br></span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n8" id="n8"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="3">
                <p class="c39"><span class="c0">CC#1 = 4-5 mins<br>CC#2 = 5-7 mins<br>
                        CC#3 = 7-8 mins </span></p>
                <p class="c39"><span class="c0">CC#4 = 8-10 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t8" id="t8"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q8" id="q8"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 2 (CC# ) </span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n9" id="n9"></span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t9" id="t9"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q9" id="q9"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c13"><span class="c0">SPEAKER 3 (CC# )</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n10" id="n10"></span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t10" id="t10"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q10" id="q10"></span></p>
            </td>
        </tr>
        <tr class="c46">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c66"><span class="c4">TABLE</span><span>&nbsp;</span><span class="c4">TOPICS</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 1</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n11" id="n11"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t11" id="t11"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q11" id="q11"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 2</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n12" id="n12"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t12" id="t12"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q12" id="q12"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 3</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n13" id="n13"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t13" id="t13"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q13" id="q13"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 4</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n14" id="n14"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t14" id="t14"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q14" id="q14"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c24" colspan="2" rowspan="1">
                <p class="c32"><span class="c0">SPEAKER 5</span></p>
            </td>
            <td class="c12" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="text" name="n15" id="n15"></span></p>
            </td>
            <td class="c18" colspan="2" rowspan="1">
                <p class="c29"><span class="c0">1-2 mins</span></p>
            </td>
            <td class="c9" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"><input type="number" name="t15" id="t15"></span></p>
            </td>
            <td class="c2" colspan="1" rowspan="1">
                <p class="c6"><span class="c1"><input type="checkbox" name="q15" id="q15"></span></p>
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c54">
            <td class="c20" colspan="9" rowspan="1">
                <p class="c6"><span class="c0"></span></p>
                <p class="c23"><span class="c0">&nbsp; &nbsp; &nbsp; </span></p>
            </td>
        </tr>
        <tr class="c41">
            <td class="c33" colspan="9" rowspan="1">
                <p class="c44"><span class="c27 c4">EVALUATORS</span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 1</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 2</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c11">
            <td class="c17" colspan="1" rowspan="1">
                <p class="c23"><span class="c0">&nbsp; EVALUATION 3</span></p>
            </td>
            <td class="c42" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c15" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c3" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
            <td class="c36" colspan="2" rowspan="1">
                <p class="c6"><span class="c1"></span></p>
            </td>
        </tr>
    </table>
    <p class="c6"><span class="c0"></span></p>
    <p class="c6"><span class="c0"></span></p>
    <p class="c23"><span class="c4 c67">Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; Class/Section: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date/Meeting No:</span></p>
    <p class="c40 c62"><span class="c0"></span></p>
    <p class="c6"><span class="c0"></span></p>
    <div>
        <p class="c6"><span class="c0"></span></p>
    </div>
</form>
</body>

</html>