<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Sheet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/docscss/timer1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/doc.css') }}">
</head>

<body>
    <h1><u><b>Timer Sheet</b></u></h1>

    <table>
        <thead>
            <th>SECTION</th>
            <th>NAME</th>
            <th>ALLOTED TIME</th>
            <th>TIME TAKEN</th>
            <th>QUALIFIED?</th>
        </thead>
        <thead><th colspan="5">ROLETAKERS</th></thead>
        <tr>
            <td>
                TMOD
            </td>
            <td>
                <select name="n1" id="n1">
                    <option value="1181045">Sathvik</option>
                </select>
            </td>
            <td>
                5-8 mins (Total)
            </td>
        </tr>

    </table>
</body>

</html>