body {
    display: grid;
    max-width: 960px;
    margin: auto;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px; 

}

hr {
    border-top: 1px solid black;

}

input[type=radio] {

    display: flex;
    margin: auto;

}

input{
    border: 0px;
}